/* Write your CSS here */

.bg-container {
  background-color: #1e293b;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Bree Serif';
  font-size: 40px;
  color: #f0bb03;
  /* margin-bottom: 40px; */
}

p {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: 400;
}
button {
  background-color: #ffffff;
  color: #1e293b;
  width: 120px;
  height: 35px;
  font-family: 'Bree Serif';
  font-weight: 600;
  border-radius: 6px;
}
